@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
  cursor: none;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  cursor: none;

  font-family: 'Lato', sans-serif;
}

section {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  overflow: hidden;

  width: 100%;
  height: 100%;

  background: #fff;

  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
  padding: 50px;

  text-align: center;
  text-transform: uppercase;

  font-size: 10em;
  line-height: 1.2em;
}

p {
  display: flex;
  overflow: hidden;

  height: 100%;
  margin-top: 40vw;
  padding: 100px;

  text-transform: uppercase;

  color: #000;

  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
}

span {
  filter: invert(0%);
  mix-blend-mode: #FF37A6;
}

.pointer {
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;

  width: 300px;
  height: 300px;

  transition: 0.1s;
  transform: translate(-50%,-50%);
  pointer-events: none;

  border-radius: 50%;
  background: #fff;

  mix-blend-mode: difference;
}

.bg{
	position: absolute;
  z-index: 100;
	top: 50%;
	left: 50%;

	width: 30vh;
	height: 30vh;

	transform: translate(-50%, -50%);
	animation: move infinite 2s;

  color: black;
	border-radius: 50%;
	background: #fff;

  mix-blend-mode: difference;
}

@keyframes move{
	0%{
		transform: translate(-50%, -50%);
	}
	50%{
		transform: translate(-50%, -50%) scale(3.5);
	}
}

body {
  display: flex;

  height: 100vh;
  margin: 0;

  cursor: none;

  background: #010101;

  /* font-family: monospace; */
}
body a {
  margin-top: 25px;
  padding: 10px 0;

  border-bottom: 2px solid #fff;
}
body .cursor {
  pointer-events: none;
}
body .cursor__ball {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  mix-blend-mode: difference;
}
body .cursor__ball circle {
  fill: #f7f8fa;
}
body .left,
body .right {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;
}
body .right {
  background: #fff;
}
body .right a {
  border-bottom: 2px solid #000;
}
body .right h1,
body .right p,
body .right a {
  color: #000;
}

@media (min-width: 320px) {

}
