@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
/* @import 'nib';
@import 'jeet' */

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: 'Lato', sans-serif;
}

section {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  overflow: hidden;

  width: 100%;
  height: 100%;

  background: #fff;

  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
  padding: 50px;

  text-align: center;
  text-transform: uppercase;

  font-size: 10em;
  line-height: 1.2em;
}

p {
  display: flex;
  overflow: hidden;

  height: 100%;
  padding: 100px;

  color: #000;

  font-size: 18px;

  justify-content: center;
  align-items: center;
}

.pointer {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 300px;
  height: 300px;

  transition: 0.1s;
  transform: translate(-50%,-50%);
  pointer-events: none;

  border-radius: 50%;
  background: #fff;

  mix-blend-mode: difference;
}

.bg{
	position: absolute;
  z-index: 100;
	top: 50%;
	left: 50%;

	width: 30vh;
	height: 30vh;

	transform: translate(-50%, -50%);
	animation: move infinite 2s;

  color: black;
	border-radius: 50%;
	background: #fff;

  mix-blend-mode: difference;
}

@keyframes move{
	0%{
		transform: translate(-50%, -50%);
	}
	50%{
		transform: translate(-50%, -50%) scale(3.5);
	}
}

.cursor {
    pointer-events: none;

    &__ball {
      position: fixed;
      top: 0;
      left: 0;
      mix-blend-mode: difference;
      z-index: 1000;

      circle {
        fill: #f7f8fa;
      }
    }
  }
