p {
  display: flex;

  margin-top: 30vw;
  padding: 0;

  color: white;

  font-size: 20vw;;
}

a {
  padding: 10px 20px;
}

section {
  flex-direction: column;

  background-color: black;
}

.reload {
  position: absolute;

  text-decoration: none;
}

span {
  margin-top: -10vw;
  margin-right: 50px;

  color: white;

  font-family: Avenir Next;
  font-size: 2vw;
}

.info {
  display: flex;
  flex-direction: row;
}

@media (max-width: 767px) {
  p {
      margin-bottom: 100vw;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  .info {
    position: absolute;

    display: flex;
    flex-direction: column;
  }

  span {
    margin-top: 8vw;
    margin-right: auto;

    font-size: 6vw;
  }

  img {
    width: 10vw;
  }
}
